/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: #eaeaea;
    border-radius: 5px;
  }
  
  .hero {
    background: url('/images/IMG_8715.JPG') center/cover no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    background-blend-mode: overlay;
    background-color: rgba(0, 128, 0, 0.5); /* Green overlay */
  }
  
  .hero-content {
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 2.5em; /* Adjust font size as needed */
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.2em; /* Adjust font size as needed */
  }
  
  .hero-content .cta {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .hero-content .cta:hover {
    background-color: #256b28;
  }
  
  section {
    padding: 6px 20px;
  }
  
  h2 {
    color: #2e7d32;
  }
  
  #featured-project {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
  }
  
  #featured-project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #featured-project h2 {
    color: #2e7d32;
    margin-bottom: 20px;
  }
  
  #featured-project p {
    font-size: 1.2em;
    color: #555;
  }
  
  
  footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
  }
  
  footer p {
    margin: 0;
  }
  